*.sassc
*.cache
*.log
*.pid
/log/**/*
tmp/**/*
.DS_Store
/db/*.sqlite3
public/gko/**/*
public/.htaccess
/public/system/*
/coverage/
/spec/tmp/*
config/*.yml
Capfile
config/deploy.rb
coverage/*
capybara-*.html
.rspec
*.zip
*.tar