/* COPYRIGHT
-------------------------------------------------- */
#footer {
  background-color: $gray-dark;
  color: $gray-light;
  padding-top: $line-height-computed * 3;
  padding-bottom: $line-height-computed * 3; 

  .nav {
    > li {
      float: none;
    }
    > li > a {
      color: $body-bg;
      &:hover {
        color: #fff;
        background-color: transparent;
      }
    }
  }
  
  h4 {
    color: $body-bg;
    margin-top: 80px;
    border-bottom: 3px solid #fff;
    text-transform: uppercase;
    display: inline-block;
  }
}


.copyright-author {
 	background: transparent image-url('gko/logo_gecko_white.png') center left no-repeat;
 	padding-left: 28px;
  color: #fff;
  &:hover {
    color: #fff;
  }
}