/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
.navbar {
  border: 0;

  .nav > li > a {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    border-bottom: 4px solid transparent;
    @include transition(border-bottom 0.3s ease-in-out);
    &:hover {
      border-color: $theme-color;
      background-color: transparent;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    min-height: $navbar-height-breakpoint;
  }
}

.navbar-nav {
  @media (min-width: $grid-float-breakpoint) {
    margin-top: ((($navbar-height-breakpoint - $line-height-computed) / 2) / 2);
    margin-bottom: ((($navbar-height-breakpoint - $line-height-computed) / 2) / 2);
  }
}

.navbar-brand {
  padding: 0 15px;
  height: auto;
  @include navbar-vertical-align(34px);
  @media (min-width: $grid-float-breakpoint) {
    padding: 6px 15px;
  }
}

.navbar-default .navbar-brand {
  text-transform: uppercase;
  span {
    border-left: 4px solid $theme-color;
    border-right: 4px solid $theme-color;
    border-top: 4px solid $theme-color;
    border-bottom: 4px solid $theme-color;
    padding: 4px;
    display: inline-block;
    @include transition(all 0.3s ease-in-out);
  }
  span + span {
    border-left: none;
  }
  &:hover {
    span {
      color: $body-bg;
      background-color: $theme-color;
    }
  }

  @media (min-width: $grid-float-breakpoint) {
    span {
      border-bottom: none;
    }
    span + span {
      display: block;
      border-bottom: 4px solid $theme-color;
      border-left: 4px solid $theme-color;
    }
  }
}

.navbar-toggle {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  color: $theme-color;
  border: 4px solid $theme-color;
  padding-top: 4px;
  padding-bottom: 4px;
  vertical-align: middle;
  //@include navbar-vertical-align(12px);
}

.navbar-default .navbar-toggle {
  &:hover,
  &:focus {
    color: $body-bg;
    .icon-bar {
      background-color: $body-bg;
    }
  }
}


/* CUSTOMIZE THE LANGUAGE MENU
-------------------------------------------------- */
.topbar {
  background-color: #000;
  color: #fff;
  p {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
#locales-menu {
  .nav {
    float: right;
  }
  .nav > li > a {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    padding: 15px 30px;
    background-color: transparent;
    @include transition(all 0.3s ease-in-out);
    &:hover,
    &:focus {
      background-color: transparent;
      color: $brand-primary;
    }
  }
}
