.th-document_items {
  margin-bottom: 0;
  padding-left: 0; // Override default ul/ol
  list-style: none;
  @include clearfix();
  
  .thumbnail-heading {
    font-size: $font-size-base;
    float: left;
  }
  
  .download {
    position: absolute;
    width: 100px;
    right: -100px;
    @include transition(right .25s ease);
  }
  
  > li {
  	float: none;
    position: relative;
    display: block;
    
    // Make the list-items overlay the bottom border
    margin-bottom: -1px;
    a {
      overflow: hidden;
      position: relative;
      display: block;
      padding: 20px 0;
      border-bottom: 1px solid $brand-primary;
      line-height: $line-height-base;
      @include transition(padding-left .25s ease);
      @include transition(background-color .45s ease);
      &:hover,
      &:focus {
        padding-left: 12px;
        text-decoration: none;
        color: #fff;
        background-color: $brand-primary;
        .download {
          right: 0;
        }
      }
    }
    figure {
      color: #fff;
      float: left;
      margin-right: 12px;
    }	
  }
}
//