<div class="page-header">
  <%= render_page_title(resource.title) %>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12"> 
      <%= render_copy_text(resource.body) %>
    </div>
  </div> 
</div>