<!-- Begin Footer -->
<footer id='footer'>
  <div class='container'>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <h4>Mailing list</h4>
        <p>Sign up if you would like to receive occasional treats from us.</p>
        <form class="form-inline">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Your email address...">
            <span class="input-group-btn">
              <button class="btn btn-default btn-lg" type="button">Go!</button>
            </span>
          </div>
        </form>
        <div id="social-profiles">
          <h4>Follow me</h4>
          <ul class="nav nav-social-links">
            <li><a href="https://www.facebook.com/julie.gauthron" target="_blank"><i class="fa fa-facebook-square fa-2x"></i> Facebook</a></li>
            <li><a href="https://vimeo.com/user27456582" target="_blank"><i class="fa fa-vimeo-square fa-2x"></i> View Videos on Vimeo</a></li>
            <li><a href=""><i class="fa fa-google-plus-square fa-2x" target="_blank"></i> Google plus</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>	
</footer>