<div class="embed-responsive embed-responsive-16by9">
  <iframe id="player" class="embed-responsive-item" src="//player.vimeo.com/video/<%= video_id %>?api=1&amp;color=1201ff&amp;title=0&amp;byline=0&amp;portrait=0&amp;autoplay=1&amp;loop=0"></iframe>
</div>