<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body class="home">
 <div id="page-wrapper">
    <%= render 'navbar' %>
    <%= yield %>
  </div>
  <div class="alert alert-danger alert-dismissible text-center fade in" role="alert"
  style="position: fixed; bottom: 0; width: 100%; margin-bottom: 0; display: block; background-color:#da5c53;">
  <a href="http://exquise-esquisse.com" target='blank' style="color:#fff;">Découvrez le travail de décoration d'intérieur de J. Gauthron sur exquise-esquisse</a>
</div>
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
  }(document));
  </script>

  <%= render 'javascripts' %>
</body>
</html>
