<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body>
  <div id="page-wrapper">
     <%= render 'navbar' %>
     <div id="content-wrapper"><%= yield %></div>
   </div>
  <script src="http://a.vimeocdn.com/js/froogaloop2.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  (function(d){
      var f = d.getElementsByTagName('SCRIPT')[0], p = d.createElement('SCRIPT');
      p.type = 'text/javascript';
      p.async = true;
      p.src = '//assets.pinterest.com/js/pinit.js';
      f.parentNode.insertBefore(p, f);
  }(document));
  </script>

  <%= render 'javascripts' %>
</body>
</html>
